p {
	text-indent: 50px;
	text-align: justify;
	width: 400px;
}

p1 {
	color: red;
	text-decoration: overline;
}

p2 {
	text-decoration: line-through;
	color: green;
}

p3 {
	text-decoration: underline;
	color: black;
	font-family: Arial;
}
 
a {
	color: red;
	text-decoration: none;
}